/* this project requires CSS3 - 
   developed and tested on
   Chrome broswer (windows)
   only - unsure of how it will 
   perform on other browsers - 
   I used generic css terms for all
   code, rather than the browser
   specific terminology */

/* START OF COMMON CSS - 
   THIS IS COMMON TO ALL PAGES -
   BELOW THIS IS PAGE-SPECIFIC CSS */

html { background: #ddeeee; 
	 font-family: Garamond, Georgia, Serif;
}


body {
	margin: 10px auto 0 auto;
	padding: 0 0 0 0;
	width: 1800px;
	height: 900px;
	background-color: #ddeeee;
}

/* header and content within it,
   including the logo and site-title */

header {
	margin: 0 auto 0 auto;
	padding: 0 0 0 0;
	width: 1790px;
	height: 183px;
	background-color: hsl(0, 0%, 95%);
	border-bottom: 2px solid hsl(0, 0%, 50%);
}

#logo {
	float: left;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 300px;
	height: 183px;
	background-color: #ddeeee;
	box-shadow: 3px 3px 10px hsl(0, 0%, 25%);
	transform: rotate(-5deg);
}

#logo-top {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 300px;
	height: 91px;
	background-color: hsl(210,100%, 80%);
}

#logo-bottom {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 300px;
	height: 92px;
	background-color: hsl(150, 100%, 80%);
}

#logo-top h1 {
	font-family: monospace;
	margin: 0 0 0 0;
	padding: 55px 0 0 45px;
	font-size: 72px;
	line-height: 0;
	text-shadow: 2px 2px 8px hsl(0, 0%, 25%);
}

#logo-bottom h1 {
	font-family: monospace;
	margin: 0 0 0 0;
	padding: 35px 0 0 55px;
	font-size: 72px;
	line-height: 0;
	text-shadow: 2px 2px 8px hsl(0, 0%, 25%);
}

#site-title {
	float: right;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 1490px;
	height: 183px;
	background-color: hsl(0, 0%, 85%);
}

#site-title h1 {
	display: inline-block;
	font-family: "freestyle script" script;
	margin: 0 0 0 0;
	padding: 0 0 0 80px;
	font-size: 80px;
	text-align: left;
	text-shadow: 2px 2px 8px hsl(0, 0%, 25%);
}

#site-title h2 {
	display: inline-block;
	font-family: monospace;
	margin: 0 0 0 0;
	padding: 20px 0 0 40px;
	font-size: 120px;
	text-align: right;
	transform: rotate(-5deg);
	text-shadow: 2px 2px 8px hsl(0, 0%, 25%);
}


/* middle section, incl nav, explain box,
   article (work area), aside (html code 
   	and css code) */

section {
	margin: 0 auto 0 auto;
	padding: 0 0 0 0;
	width: 1790px;
	height: 640px;
	background-color: hsl(0, 0%, 95%);
}

#nav-explain {
	float: left;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 300px;
	height: 640px;
	background-color: hsl(0, 0%, 95%);
}

nav {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 300px;
	height: 200px;
	background-color: hsl(0, 0%, 85%);
}

#explain {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 300px;
	height: 440px;
	background-color: hsl(0, 0%, 95%);
}

article {  /* middle area where the action is */
	float: left;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 900px;
	height: 640px;
	background-color: hsl(180, 40%, 85%);
}

aside { /* where code is displayed */
	float: left;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 590px;
	height: 640px;
	background-color: hsl(0, 0%, 95%);
}

#html-code {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 590px;
	height: 320px;
	background-color: hsl(210, 100%, 80%);
}


#css-code {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 590px;
	height: 320px;
	background-color: hsl(150, 100%, 80%);
}

#html-code h3 {
	margin: 0 0 0 0;
	padding: 5px 5px 0 0;
	display: block;
	font-family: monospace;
	font-size: 18px;
	text-align: center;
}

#css-code h3 {
	margin: 0 0 0 0;
	padding: 5px 5px 0 0;
	display: block;
	font-family: monospace;
	font-size: 18px;
	text-align: center;
}

/* footer for page, other links */

footer {
	margin: 0 auto 0 auto;
	padding: 0 0 0 0;
	width: 1790px;
	height: 68px;
	background-color: hsl(0, 0%, 95%);
	border-top: 2px solid hsl(0, 0%, 50%);
}

/* END OF CSS COMMON TO ALL PAGES -
   BELOW THIS IS PAGE SPECIFIC CSS */

