/* PAGE SPECIFIC CSS */

/* this -css- page should follow the -main.css-
   page, which holds the generic page 
   information for the entire project.  These 
   specfic css pages (rotate.css, translate.css, etc)
   contain the css code for page specific stuff only

   For instance, the title word is different for each 
   page, so the transform effect needs to be changed..
   this is done in the 'title-word:hover' change 
   below...

   Also, for instance, the background image of the 
   'article' element (ie. main stage) will be different
   for each page.  The 'article' change below adds the 
   background image for each different page...

   The major css code concerns the 'main stage' 
   (#article), where the main demo of the page
   is shown.  CSS code here is involved in 
   setting up a bunch of transforms, used with
   one or more transitions, to animate the
   demo.
 
	here are others, each change documented below... */


/* this transforms the title word (ie. 'rotate', 'scale', etc)
   in the main page title - it works with the main page 
   #title-word css code */

#title-word:hover {
	transform: rotate(3605deg) translate(400px, 0px);
}

/* this transforms the "#explain H1" word (ie. 'rotate', 'scale', etc)
   in the #explain section - it works with the "#explain H1" css code */

#explain h1:hover {
	transform: rotate(4320deg);
}

/* this transforms the two code boxes (html and css)
   using the appropriate transform */

#html-code:hover {
	transform: rotate(-5deg);
}

#css-code:hover {
	transform: rotate(5deg);
}

/* -ARTICLE- section (aka 'main-stage') */

/* this sets the background of the 'article' element to
   the appropriate background image for each page */

article {
	/* nice felt background  */
	background-image: url("../resources/rotate/felt-900x640.png");
}

/* this is the top red back card
   it disappears, and then 
   reappears at end */

/* note how it disappears before the cards
   are fanned, and doesn't reappear until 
   they are all un-fanned... it was tricky
   figuring out the 'transition-delay'
   portions... the spec is unclear, but this
   seems to work in all modern browsers */

#redback {
	position: absolute;
	left: 367px;
	top: 80px;
	transform-origin: center center;
	transition: all 1s ease-out 3s;
}

article:hover #redback {
	opacity: 0;
	transition-delay: .2s;
}

/* this positions each of 52 cards at start, 
	and sets the transition specs.  The on-hover
   for each card is below this */

.cards {
	position: absolute;
	left: 367px;
 	top: 80px;
	transform-origin: bottom center;
	transition: 2s ease-out 1s;
}

/* this is the on-hover rotations
   of each of the cards.  Each card 
   has it's own rotation, so they all 
   need to be specified  */

article:hover #card01 { transform: rotate(24deg); }
article:hover #card02 { transform: rotate(30deg); }
article:hover #card03 { transform: rotate(36deg); }
article:hover #card04 {	transform: rotate(42deg); }
article:hover #card05 { transform: rotate(48deg); }
article:hover #card06 {	transform: rotate(54deg); }
article:hover #card07 {	transform: rotate(60deg); }
article:hover #card08 {	transform: rotate(66deg); }
article:hover #card09 {	transform: rotate(72deg); }
article:hover #card10 {	transform: rotate(78deg); }
article:hover #card11 {	transform: rotate(84deg); }
article:hover #card12 {	transform: rotate(90deg); }
article:hover #card13 {	transform: rotate(96deg); }

article:hover #card14 {	transform: rotate(102deg); }
article:hover #card15 {	transform: rotate(108deg); }
article:hover #card16 {	transform: rotate(114deg); }
article:hover #card17 {	transform: rotate(120deg); }
article:hover #card18 {	transform: rotate(126deg); }
article:hover #card19 {	transform: rotate(132deg); }
article:hover #card20 {	transform: rotate(138deg); }
article:hover #card21 {	transform: rotate(144deg); }
article:hover #card22 {	transform: rotate(150deg); }
article:hover #card23 {	transform: rotate(156deg); }
article:hover #card24 {	transform: rotate(162deg); }
article:hover #card25 {	transform: rotate(168deg); }
article:hover #card26 {	transform: rotate(174deg); }

article:hover #card27 {	transform: rotate(180deg); }
article:hover #card28 {	transform: rotate(186deg); }
article:hover #card29 {	transform: rotate(192deg); }
article:hover #card30 {	transform: rotate(198deg); }
article:hover #card31 {	transform: rotate(204deg); }
article:hover #card32 {	transform: rotate(210deg); }
article:hover #card33 {	transform: rotate(216deg); }
article:hover #card34 {	transform: rotate(222deg); }
article:hover #card35 {	transform: rotate(228deg); }
article:hover #card36 {	transform: rotate(234deg); }
article:hover #card37 {	transform: rotate(240deg); }
article:hover #card38 {	transform: rotate(246deg); }
article:hover #card39 {	transform: rotate(252deg); }

article:hover #card40 {	transform: rotate(258deg); }
article:hover #card41 {	transform: rotate(264deg); }
article:hover #card42 {	transform: rotate(270deg); }
article:hover #card43 {	transform: rotate(276deg); }
article:hover #card44 {	transform: rotate(282deg); }
article:hover #card45 {	transform: rotate(288deg); }
article:hover #card46 {	transform: rotate(294deg); }
article:hover #card47 {	transform: rotate(300deg); }
article:hover #card48 {	transform: rotate(306deg); }
article:hover #card49 {	transform: rotate(312deg); }
article:hover #card50 {	transform: rotate(318deg); }
article:hover #card51 {	transform: rotate(324deg); }
article:hover #card52 {	transform: rotate(330deg); }
